scripts/__forgejo_bulk_mirror.sh filter=git-crypt diff=git-crypt
backups/vault/**/*.json filter=git-crypt diff=git-crypt
docs/IP_ALLOCATION.md filter=git-crypt diff=git-crypt
gitops/infra/bitwarden-clustersecretstore.yaml filter=git-crypt diff=git-crypt
gitops/apps/authentik/pushsecrets.yaml filter=git-crypt diff=git-crypt
