ui:
  enabled: true
  service:
    annotations:
      httproute.controller/expose: "true"
      httproute.controller/hostname: "policy-reporter.homelab.local"
resources:
  requests:
    cpu: 15m
    memory: 100Mi
  limits:
    cpu: 15m
    memory: 100Mi
