# PROJECT: claude-automation
config:
  jetstream:
    enabled: true
    memoryStore:
      enabled: true
      maxSize: 256Mi
    fileStore:
      enabled: true
      pvc:
        enabled: true
        size: 1Gi
        storageClassName: longhorn

container:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 512Mi

service:
  merge:
    spec:
      type: LoadBalancer
      loadBalancerIP: 192.168.178.93

promExporter:
  enabled: true
  podMonitor:
    enabled: true
    merge:
      metadata:
        labels:
          release: kube-prometheus-stack
