---
# ServiceAccount Template
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{SERVICE_ACCOUNT_NAME}}
  namespace: {{NAMESPACE|default:default}}
  {{#LABELS}}
  labels:
{{LABELS}}
  {{/LABELS}}
---
# ClusterRole Template
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ROLE_TYPE|default:ClusterRole}}
metadata:
  name: {{ROLE_NAME|default:{{SERVICE_ACCOUNT_NAME}}}}
  {{#ROLE_NAMESPACE}}
  namespace: {{ROLE_NAMESPACE}}
  {{/ROLE_NAMESPACE}}
rules:
{{RBAC_RULES}}
---
# ClusterRoleBinding Template
apiVersion: rbac.authorization.k8s.io/v1
kind: {{BINDING_TYPE|default:ClusterRoleBinding}}
metadata:
  name: {{BINDING_NAME|default:{{SERVICE_ACCOUNT_NAME}}}}
  {{#BINDING_NAMESPACE}}
  namespace: {{BINDING_NAMESPACE}}
  {{/BINDING_NAMESPACE}}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ROLE_TYPE|default:ClusterRole}}
  name: {{ROLE_NAME|default:{{SERVICE_ACCOUNT_NAME}}}}
subjects:
  - kind: ServiceAccount
    name: {{SERVICE_ACCOUNT_NAME}}
    namespace: {{NAMESPACE|default:default}}
