replicaCount: 1

image:
  repository: 192.168.178.100/library/httproute-webhook
  pullPolicy: IfNotPresent
  tag: "0.1.0"

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  fsGroup: 65532

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 443

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

webhook:
  certManager:
    enabled: true
  failurePolicy: Fail
  namespaceSelector: {}

gateway:
  name: homelab-gateway
  namespace: envoy-gateway-system
