apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Tekton Pipelines v1.6.0
  - https://storage.googleapis.com/tekton-releases/pipeline/previous/v1.6.0/release.yaml
  # Tekton Triggers v0.34.0
  - https://storage.googleapis.com/tekton-releases/triggers/previous/v0.34.0/release.yaml
  - https://storage.googleapis.com/tekton-releases/triggers/previous/v0.34.0/interceptors.yaml
  # Tekton Dashboard v0.63.1
  - https://storage.googleapis.com/tekton-releases/dashboard/previous/v0.63.1/release.yaml

patches:
  - target:
      kind: Service
      name: tekton-dashboard
      namespace: tekton-pipelines
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          httproute.controller/expose: "true"
          httproute.controller/hostname: "tekton.homelab.local"
